@charset "UTF-8";
     
/*       
.tree li.file::before {
  content: '📄'; Simbolo per i file
} */
   
.tree body {
   font-family: Arial, sans-serif;
}

.tree ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.tree ul ul {
    margin-left: 20px;
}

.tree li {
    margin: 0;
    padding: 0 12px;
    line-height: 20px;
    position: relative;
}

.tree li::before {
    content: '📁'; /* Simbolo per le cartelle */
    margin-right: 8px;
    position: absolute;
    top: 0;
    left: -10px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 30px;
    height: 40px;
   
}

.tree li:last-child::before {
    border-left: 1px solid #ccc;
    border-bottom: none;
}


.folder a {
    color: black;
    text-decoration: underlined;
}



   